@charset "utf-8";
/* CSS Document */
body{background-color:#f3f5f8;}
input[type=text]{border-radius:5px;}
.content *{color:#282828;}
a{text-decoration:none;color:#009dd6;}
.alink{text-decoration:none;color:#009dd6;}
hr{width:828px;margin:80px auto 60px auto;border:#e3e5e8 1px solid}
.resert_by_emal_dl{width:450px;margin:auto auto;}
.content dt{color:#ff875a;font-size:1.3em;}
.content dd{margin:5px auto 0px 0px;font-size:0.8em;color:#282828;height:26px;line-height:26px;}
.margin_left_16{margin-left:38px;}

.color_01{color:#282828;}
.margin_top_01{margin:52px auto 0px auto;}
.margin_top_02{margin:20px auto 0px auto;}
.margin_top_03{margin:8px auto 0px auto;}
.margin_top_04{margin:80px auto 0px auto;}



.content{width:998px;height:636px;margin:30px auto;background-color:#fff;border:#e6e8ec 1px solid;}
.content_title{width:100%;height:49px;line-height:49px;background-color:#f9fafb;text-indent:1.2em;font-size:1.2em;border-bottom:#e6e8ec 1px solid;}
.content_title span:first-child{float:left;}
.content_title_span02{float:right;font-size:0.8em;margin-right:19px;}
.content_form_title{width:828px;height:38px;line-height:38px;margin:30px auto;border-radius:5px;}
.content_form_title > span{position:absolute;}
.content_form_title_01{width:285px;height:40px;display:block;background-image:url(../images/user.png);background-repeat:no-repeat;background-position:0px -211px;}
.content_form_title_02{width:303px;height:40px;margin-left:265px;display:block;background-image:url(../images/user.png);background-repeat:no-repeat;background-position:3px -260px;}
.content_form_title_03{width:279px;height:40px;margin-left:547px;display:block;background-image:url(../images/user.png);background-repeat:no-repeat;background-position:0px -307px;}


.account{width:828px;height:40px;line-height:40px;}
.account > span{float:left;height:40px;line-height:40px;}
.account_items{display:block;}
.account_label{width:222px;height:100%;line-height:40px;text-align:right;padding-right:20px;}
.account_input,.account_input_01,.account_input_{width:295px;height:100%;}
.email_tips{width:100%;height:100%;text-align:center;line-height:40px;display:block;}
.account_input_01 *{float:left;}
.account_input_ input{width:135px;height:38px;line-height:38px;border:#d3d5d9 1px solid;outline:none;float:left;}
.account_input_01 input{width:13px;height:13px;margin-top:14px;}
.account_input_01 span{height:40px;line-height:40px;display:block;margin-left:8px;}
.account_input input{width:293px;height:38px;line-height:38px;border:#d3d5d9 1px solid;outline:none;}
.account_btn{border-radius:5px;background-color:#ff5656;height:40px !important;text-align:center;line-height:40px;color:#fff;font-size:1.3em;cursor:pointer;}

.tips{font-size:0.9em;color:#ff5656;width:auto;height:40px;margin-left:3px;}
.tips > span{float:left;}
.tips_left,.tips_right{width:20px;height:100%;display:block;}
.tips_left{background:url(../images/login_tip_bg.png) left top no-repeat;}
.tips_right{background:url(../images/login_tip_bg.png) right top no-repeat;}
.tips_span{height:100%;width:auto;display:block;background-image:url(../images/login_tip_bg.png);background-repeat:repeat-x;background-position:0px -40px;}
.account_item{float:left;height:40px;color:#4f4e4e;}
.code_btn{border-radius:5px;cursor:pointer;text-align:center;font-size:0.9em;color:#fff;width:135px;height:38px;line-height:38px;background-color:#93c937;border:#93c937 1px solid;outline:none;float:right;}
.code_btn_{border-radius:5px;cursor:pointer;text-align:center;font-size:0.9em;color:#fff;width:135px;height:38px;line-height:38px;background-color:#7d7d7d;border:#7d7d7d 1px solid;outline:none;float:right;}
.account_item input[type=text]:hover{border-color:#f1a500;}

.success_icon{width:100%;margin:40px auto 20px auto;height:64px;text-align:center;background-image:url(../images/user.png);background-repeat:no-repeat;background-position:203px -140px;}
.success_title{width:100%;margin:20px auto 0px auto;height:64px;text-align:center;font-size:1.1em;}
.display_none{display:none;}
#email_link{width:100%;height:100%;color:#fff;}

